/*ALI MANSOUR ID:202110911*/
body {
  font-family: "Orbitron";
  background-image: url("../images/build/_25-HP-SolarPanels-D.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 20px;
}

.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.title {
  font-size: 2.5em;
  font-weight: bold;
	display: block;
}
.navbar #logo{
	float: left;
	width: 4em;
	height: 4em;
	

}

.navbar {
  /* position: relative; */
  margin: auto;
  padding: 0.5em;
  text-align: center;
}

.navbar .center {
  margin: auto;
}

.nav {
  margin: auto;
  width: fit-content;
}

.nav li {
  margin-right: 1em;
  text-align: center;
}

.link {
  list-style-type: none;
  float: left;
}


a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  transition: 0.3s;
	font-weight: bold;
}

a:hover {
  color: yellow;
  font-size: 1.3em;
}
/*float left for the 1st pic*/
#pic1 {
    width: 35em;
    border-radius: 1em;
    float: left; 
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}

#pic2 {
  border-radius: 3em;
	 width: 35em;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	margin-left: 5em;

}

#pic3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
	width: 35em; 
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}

/**/
.engine {
  inline-size: 38em;/*defines the width of an element when the writing is horizantal*/
  overflow-wrap: break-word;/*can break the line inside the targeted element*/
  margin-left: 2em;
  text-align: justify;
  float: left;
  background-color: gray;
  box-sizing: border-box;
  padding: 1em;
	border-radius: 5%;
}

.wheels {
  inline-size: 30em;
  overflow-wrap: break-word;
  text-align: justify;
  margin-left: 3em;
  float: left;
  padding-right: 2em;
  background-color: gray;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 5%;
}
/*justifying all the text*/
.battery{
	text-align: justify;
	background-color: gray;
    box-sizing: border-box;
    padding: 1em;
	border-radius: 5%;
}

 #footer #media{
	float: right;
	position: relative;
	margin-top: 0em;
	width: 10%;
	
	
}
#footer #media p {
	font-weight: bold;
	color: red;
}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
 #footer #media a{
	font-size: 2em;
}
#media p{
font-size: 	1em;
}

#footer	#copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}
@media only screen and (max-width:1500px){
	body{
		font-size: 20px;
	}
	
.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
#pic1 {
    width: 100%;
    border-radius: 1em;
    float: left;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
.engine {
  inline-size: 95%;
  overflow-wrap: break-word;
  margin-left: 0.25em;
  text-align: justify;
  float: left;
	
}
	

#pic2 {
  border-radius: 1em;
	 width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	float: left;
	margin-left: 0em;


}
.wheels {
  inline-size: 95%;
  overflow-wrap: break-word;
  text-align: justify;
	float:left;
	margin-left: 0em;
	

}
#pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
	
.battery{
	text-align: justify;
}
	
 #footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}
#footer #copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}
	.title{
		position: relative;
		float: left;
		margin-top: 3em;
/*		margin-right: 20em;*/
	}
}

@media only screen and (max-width:1400px){
	body {
		font-size: 19px;
	}
	
.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
#pic1 {
    width: 100%;
    border-radius: 1em;
    float: left;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
.engine {
  inline-size: 95%;
  overflow-wrap: break-word;
  margin-left: 0.25em;
  text-align: justify;
  float: left;
	
}
	

#pic2 {
  border-radius: 1em;
	 width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	float: left;
	margin-left: 0em;


}
.wheels {
  inline-size: 95%;
  overflow-wrap: break-word;
  text-align: justify;
	float:left;
	margin-left: 0em;
	

}
#pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
	
.battery{
	text-align: justify;
}
	
 #footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}
#footer #copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}
	.title{
		position: relative;
		float: left;
		margin-top: 3em;
/*		margin-right: 20em;*/
	}
}

@media only screen and (max-width:1200px) {
  body {
    font-size: 17px;
  }
	
.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
#pic1 {
    width: 100%;
    border-radius: 1em;
    float: left;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
.engine {
  inline-size: 95%;
  overflow-wrap: break-word;
  margin-left: 0.25em;
  text-align: justify;
  float: left;
	
}
	

#pic2 {
  border-radius: 1em;
	 width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	float: left;
	margin-left: 0em;


}
.wheels {
  inline-size: 95%;
  overflow-wrap: break-word;
  text-align: justify;
	float:left;
	margin-left: 0em;
	

}
#pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
	
.battery{
	text-align: justify;
}
	
 #footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}
#footer #copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}
	.title{
		position: relative;
		float: left;
		margin-top: 3em;
/*		margin-right: 20em;*/
	}
}

@media only screen and (max-width:1000px) {
  body {
    font-size: 14px;
  }
	
.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
#pic1 {
    width: 100%;
    border-radius: 1em;
    float: left;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
.engine {
  inline-size: 95%;
  overflow-wrap: break-word;
  margin-left: 0.25em;
  text-align: justify;
  float: left;
	
}
	

#pic2 {
  border-radius: 1em;
	 width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	float: left;
	margin-left: 0em;


}
.wheels {
  inline-size: 95%;
  overflow-wrap: break-word;
  text-align: justify;
	float:left;
	margin-left: 0em;
	

}
#pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
	
.battery{
	text-align: justify;
}
	
 #footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}
#footer #copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}
	.title{
		position: relative;
		float: left;
		margin-top: 3em;
/*		margin-right: 20em;*/
	}
}

@media only screen and (max-width:850px) {
  body {
    font-size: 12px;
  }

.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
#pic1 {
    width: 100%;
    border-radius: 1em;
    float: left;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
.engine {
  inline-size: 95%;
  overflow-wrap: break-word;
  margin-left: 0.25em;
  text-align: justify;
  float: left;
	
}
	

#pic2 {
  border-radius: 1em;
	 width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	float: left;
	margin-left: 0em;


}
.wheels {
  inline-size: 95%;
  overflow-wrap: break-word;
  text-align: justify;
	float:left;
	margin-left: 0em;
	

}
#pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
	
.battery{
	text-align: justify;
}
	
 #footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}
#footer #copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}
	.title{
		position: relative;
		float: left;
		margin-top: 3em;
/*		margin-right: 20em;*/
	}
	
}

@media only screen and (max-width:750px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width:600px) {
 body {
    font-size: 15px;
  }
	.title{
		position: relative;
		float: left;
		margin-top: 3em;
/*		margin-right: 20em;*/
		font-size: 1.1em
	}
.navbar {
  
  	    width: 100%;
		height: auto;
		overflow: auto;
}
.nav{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
.nav li {
        width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 10px 0;
}
.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
	.title{
	
font-weight: bold;
background-color: gray;
}
#pic1 {
    width: 100%;
    border-radius: 1em;
    float: left;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
.engine {
  inline-size: 30em;
  overflow-wrap: break-word;
  margin-left: 0.25em;
  text-align: justify;
  float: left;
}
	

#pic2 {
  border-radius: 1em;
	 width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	float: left;
	margin-left: 0em;


}
.wheels {
  inline-size: 30em;
  overflow-wrap: break-word;
  text-align: justify;
	float:left;
	margin-left: 0em;
	

}
#pic3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
    width: 100%;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}
	
.battery{
	text-align: justify;
}
	
 #footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}
#footer #copyright{
    margin-top: 7em;
	float: left;
	width: 20em;
	font-weight: bold;
}
	

@media only screen and (max-width:400px) {
 body {
    font-size: 15px;
  }	
	.wheels{
		inline-size:25em; /*just to be viewed in a perfect way in phones*/
	}
	.engine{
		inline-size:25em;
	}
	
}