/*ALI MANSOUR ID:202110911*/

body {
  background-image: url("../images/buy/Model-X-Main-Hero-Desktop-LHD.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Orbitron";
  font-size: 20px;
}

ul { /* this for the pictures */
  padding-left: 1em;
}
.navbar {
  /* position: relative; */
  margin: auto;
  padding: 0.5em;
  text-align: center;
}

.navbar .center {
  margin: auto;
}

.nav {
  margin: auto;
  width: fit-content;
}

.nav li {
  margin-right: 1em;
  text-align: center;
}

.link {
  list-style-type: none;
  float: left;
}

.navbar #logo a {
  opacity: 0.6;
}
.navbar #logo a:hover {
  opacity: 1;
}

.navbar #logo {
  float: left;
  width: 4em;
  height: 4em;
}
#middle_pics img {
  border-radius: 1.5em;
  padding-bottom: 0.5em;
  background-color: gray;
  padding: 0.5em;
  position: relative;
  box-sizing: border-box;
  border: 1px solid #afcde3;
  height: 25em;
  width: 50em;
}
table {
  align-items: baseline; /*the element is aligned with the baseline of the table*/
  height: 20em;
  width: 40em;
  column-rule-style: dashed; /*specs for the table only*/
  border-color: grey;
  color: black;
  background-color: gray;
  margin-left: 1em;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  transition: 0.3s;
  font-weight: bold;
}

a:hover {
  color: yellow;
  font-size: 1.1em;
}

#middle_pics {
  font-style: italic;
  font-weight: bold;
}
#aftertable p {
  background-color: gray;
}

#footer #media {
  float: right;
  position: relative;
  margin-top: 0em;
  width: 10%;
}
#footer #media p {
  font-weight: bold;
  color: red;
}
.fa-facebook {
  position: relative;
  float: right;
}
.fa-instagram {
  position: relative;
  float: right;
}

.fa-twitter {
  position: relative;
  float: right;
}
#footer #media a {
  font-size: 2em;
}
#footer #copyright {
  margin-top: 5em;
  float: left;
  width: 20em;
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  body {
    font-size: 17px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 850px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width: 750px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 15px;
  }

  .navbar #logo a {
    opacity: 0.2;
  }
  .navbar #logo a:hover {
    opacity: 1;
  }

  .navbar #logo {
    float: left;
    width: 6em;
    height: 6em;
  }

  .navbar {
    /* position: relative; */
    width: 100%;
    height: auto;
    overflow: auto;
  }
  .nav {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav li {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 0;
  }

  #middle_pics img {
    height: 15em;
    width: 100%;
    border-radius: 1.5em;
  }

  #middle_pics {
    font-style: italic;
    font-weight: bold;
  }
  table {
    align-items: baseline;
    height: 20em;
    width: 90%;
    column-rule-style: dashed;
    border-color: grey;
    border-radius: 2%;
    color: black;
    background-color: gray;
    margin-left: 0em;
  }
  #footer #media {
    float: right;
    position: relative;
    width: 20%;
  }
  #media p {
    font-size: 1em;
  }
  .fa-facebook {
    position: relative;
    float: right;
  }
  .fa-instagram {
    position: relative;
    float: right;
  }

  .fa-twitter {
    position: relative;
    float: right;
  }
  #footer #media a {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  #footer #copyright {
    margin-top: 7em;
    float: left;
    width: 20em;
    font-weight: bold;
  }
}
