/*ALI MANSOUR ID:202110911*/

body {
  background-image: url("../images/contactus/tesla.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Orbitron"; /*i include the font if you would download it it will be offline font*/
  font-size: 20px;
}

.navbar #logo a{
	opacity: 0.7;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 4em;
	height: 4em;

}


.navbar {
  
  margin: auto;
  padding: 0.5em;
  text-align: center;
}

.navbar .center {
  margin: auto;
}

.nav {
  margin: auto;
  width: fit-content;
}

.nav li {
  margin-right: 1em;
  text-align: center;
}

 .link {
  list-style-type: none;
  float: left;
}

/*my picture giving it wdth and height and border*/
 #pic #myPic {
  border-radius: 1.5em;
  transition: 0.3s;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	 width: 30em;
	 height: 25em;
	
}

  a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
  font-size: 1em;
  font-weight: bold;
}

a:hover {
  font-size: 1.1em;
  color: yellow;
}


#middle{
	background-color: gray;
	padding: 0.25em;
	border-radius: 1%;
}
/*this for the text of the contactus which is the form*/
#contactustxt{
	background-color: gray;
	padding: 0.25em;
	border-radius: 1%;
	
}

#footer #media{
	float: right;
	position: relative;
	margin-top: 0em;
	width: 10%;
	
	
}
#footer #media p {
	font-weight: bold;
	color: red;
}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
}
#copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}


@media only screen and (max-width:1200px) {
  body {
    font-size: 17px;
  }
}

@media only screen and (max-width:1000px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width:850px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width:750px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width:600px) {
  body {
    font-size: 15px;
  }
	
.navbar {
   
  	   width: 100%;
		height: auto;
		overflow: auto;
}
.nav{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
.nav li {
        width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 10px 0;
}
.navbar #logo a{
	opacity: 0.7;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
	#pic #myPic {
  border-radius: 1.5em;
  transition: 0.3s;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
	 width: 100%;
	 height: 20em;
	
}
#footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
#footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}

#footer #copyright{
    margin-top: 7em;
	float: left;
	width: 20em;
	font-weight: bold;
	 
}
	
}