/*ALI MANSOUR ID:202110911*/

body {
  font-family: "Orbitron";
  background-image: url("../images/externallinks/Desktop-ModelY.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 20px;
}

/* hover of the logo opa high */
#logo a:hover{
	opacity: 1;
}
/* opacity little*/
#logo a{
	opacity: 0.6;
}
/* specs for the logo*/
.navbar #logo{
	float: left;
	width: 4em;
	height: 4em;
	

}
/* padding for the navbar*/
.navbar {
  margin: auto;
  padding: 0.5em;
  text-align: center;
}

.navbar .center {
  margin: auto;
}

.nav {
  margin: auto;
  width: fit-content;
}
/* list them centered*/
.nav li {
  margin-right: 1em;
  text-align: center;
}

.link {
  list-style-type: none;
  float: left;
}
/* links colored black */
a {
  text-decoration: none;
  color: black;
  font-size: 1em;
  transition: 0.3s;
	font-weight: bold;
}
/* when hovering black willl be yellow*/
a:hover {
  color: yellow;
  font-size: 1.1em;
}

#middle{
	background-color: gray;
	padding: 0.25em;

}
/*specs for the pic*/
#picc #pic{
	width: 35em;
	height: 22em;
    border-radius: 1.5em;
    padding-bottom: 0.5em;
    background-color: gray;   
    padding: 0.5em;
	position: relative;
    box-sizing: border-box;
	border: 1px solid #afcde3;
}

img {
  border-radius: 1.5em;
}
#pic {
	height : 22em;
	width: 35em;	
}
/* same as all pages the specs for the footer*/
 #footer #media{
	float: right;
	position: relative;
	margin-top: 0em;
	width: 10%;
	
	
}
#footer #media p {
	font-weight: bold;
	color: red;
}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
 #footer #media a{
	font-size: 2em;
}

#footer	#copyright{
    margin-top: 5em;
	float: left;
	width: 20em;
	font-weight: bold;
}
/* for responsivity*/
@media only screen and (max-width:1200px) {
  body {
    font-size: 17px;
  }
}

@media only screen and (max-width:1000px) {
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width:850px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (max-width:750px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width:600px) {
  body {
    font-size: 15.5px;
  }
		
.navbar {
   
  	width: 100%;
		height: auto;
		overflow: auto;
}
.nav{
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
.nav li {
  width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		padding: 10px 0;
}
.navbar #logo a{
	opacity: 0.6;
}
.navbar #logo a:hover{
	opacity: 1;
}

.navbar #logo{
	float: left;
	width: 6em;
	height: 6em;
	

}
a {
   text-decoration: none;
   color: black;
   transition: 0.3s;
   font-size: 0.75em;
}
	
a:hover {
   font-size: 0.9em;
   color: yellow;
}
#picc #pic{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 80%;
		
	}
#middle{
	width: 90%;
	margin-left: 5%;
	margin-right: 10%;
	height: 80%;
	font-size: 55%;
		
	}
#footer #media{
	float: right;
	position: relative;
	width: 20%;
	
	
}
#media p {
		font-size: 1em;
	}
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
 #footer #media a{
	font-size: 2em;
	margin-bottom: 0.5em;
}
#footer	#copyright{
    margin-top: 6em;
	float: left;
	width: 20em;
	font-weight: bold;
		
}


}