/*ALI MANSOUR ID:202110911*/

body {
  background-image: url("./images/home/Homepage-Model-S-Desktop-LHD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 20px;
  font-family: 'Orbitron';
}
/* this for the navbar to move it from the top a little bit*/
.navbar {
  
  margin: auto;
  padding: 0.5em;
  text-align: center;
}

.nav {
  margin: auto;
  width: fit-content;
}
/* this is for the listing of the navbar shape*/
.nav li {
  margin-right: 1em;
  text-align: center;
}
.nav li a:hover{
color: yellow;
  font-size: 1.3em
}
/* just to put the buttons as mentioned in the html respectively*/
.link {
  list-style-type: none;
  float: left;
}

div {
  margin-top: 20px;
  /* font-style: italic; */
  font-weight: 100;
  text-align: center !important;
  margin-bottom: auto;
  padding-bottom: 5px;
  color: #171717;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-family: 'Orbitron';
}
/* this for the logo and text tesla size and font*/
#Middle {
  font-size: 4.5em;
  font-style: normal;
  font-family: 'Orbitron';
  

}
/* this is for the links just like the menu and social media icons and logo*/
a {
  /* font-weight: bold; */
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  color: #171717;
  transition: 0.3s; /* this is responsible for the animation of the logo and navbar while hovering on it*/
  
}

#TeslaLogo {
  opacity: 0.5;
  transition: 0.3s;
}
/* for the hover of tesla logo*/
#TeslaLogo:hover {
  /* background-color: lightgray; */
  opacity: 1;
}

/* for the social media icons*/
#media{
	float: right;
	position: relative;
	margin-top: 4em;
	width: 20%;
}
 #media p {
	font-weight: bold;
	color: red;
}
 /* this i brought it from the link from google inorder to put icons at the footer*/
.fa-facebook{
	position: relative;
	float: left;
}

.fa-instagram{
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.fa-twitter{
	position: relative;
	float: right;
}
/* size of the icons social*/
#media a{
	font-size: 3em;
}
#media a:hover{
		color:yellow;
	}
#copyright{
    margin-top: 9em;
	float: left;
	width: 20em;
	font-weight: bold;
}

@media only screen and (max-width:1200px) {
  body {
    font-size: 17px;
  }

}

@media only screen and (max-width:1000px) {
  body {
    font-size: 15px;
  }


}

@media only screen and (max-width:850px) {
  body {
    font-size: 12px;
  }

}

@media only screen and (max-width:750px) {
  body {
    font-size: 10px;
  }
	.navbar {
		margin-bottom: 0.2em;
	}

}

@media only screen and (max-width:600px) {
	
  body {
    font-size: 18px;
  }
	#TESLA{
		margin-bottom: 0em;
	}
  html{
    overflow: auto;
  }
	
.navbar {
   /* position: relative; */
  	width: 100%;
	height: auto;
	overflow: auto;
}
.nav{
	width: 100%;
	padding: 0;
	margin: 0;
	}
	
.nav li {
  width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px 0;
}
	
#Middle #TeslaLogo{
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	height: 6em;
	}

a {
   text-decoration: none;
   color: black;
   transition: 0.3s;
   font-size: 0.75em;
}
	
#media{
	float: right;
	position: relative;
	width: 20%;
}
	
#media p {
		font-size: 1em;
	}
	
.fa-facebook{
	position: relative;
	float: right;
}
.fa-instagram{
	position: relative;
	float: right;
}

.fa-twitter{
	position: relative;
	float: right;
}
	
#media a{
	font-size: 2.5em;
}
#copyright{
    margin-top: 10em;
	float: left;
	width: 15em;
	font-weight: bold;
}
}
